<ion-header>
  <ion-toolbar>
    <ion-title>Upcoming</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="clickedSearch()">
        <ion-icon slot="icon-only" name="md-search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" color="dark" [(ngModel)]="MediaType">
      <ion-segment-button value="Movies">
        Movies
      </ion-segment-button>
      <ion-segment-button value="Series">
        Series
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col>
      <div>
        <ion-list>
          <ion-item *ngFor="let item of data" (click)="open($event, item)">
            <ion-row>
              <ion-col size="3">
                <img src="http://image.tmdb.org/t/p/w185/{{item.poster_path}}">
              </ion-col>
              <ion-col>
                <ion-row>
                  {{item.original_title}}
                  {{item.original_name}}
                </ion-row>
                <ion-row>
                  <ion-label>
                    <p>{{item.vote_average}} / 10</p>
                    <p>{{item.release_date}}</p>
                    <p>{{item.first_air_date}}</p>
                  </ion-label>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-list>
      </div>
    </ion-col>
  </ion-row>
</ion-content>