<ion-tabs>

  <ion-tab tab="home">
    <ion-router-outlet name="home"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="about">
    <ion-router-outlet name="about"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="contact">
    <ion-router-outlet name="contact"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="upcoming">
    <ion-router-outlet name="upcoming"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="information">
    <ion-router-outlet name="information"></ion-router-outlet>
  </ion-tab>

  <ion-tab tab="profile">
      <ion-router-outlet name="profile"></ion-router-outlet>
    </ion-tab>

    <ion-tab tab="login">
      <ion-router-outlet name="login"></ion-router-outlet>
    </ion-tab>
  

  <ion-tab-bar color="dark" slot="bottom">

    <ion-tab-button tab="upcoming" href="/tabs/(upcoming:upcoming)">
      <ion-icon name="md-calendar"></ion-icon>
      <ion-label>Upcoming</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="information" href="/tabs/(information:information)">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>Information</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about" href="/tabs/(about:about)">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/(profile:profile)">
      <ion-icon name="md-contact"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
