<ion-header>
    <ion-toolbar>
        <ion-title>Profile</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div *ngIf="afAuth.user | async as user; else showLogin">
        <ion-card>
            <ion-avatar>
                <img src="{{user.photoURL}}">
            </ion-avatar>
            <ion-card-header>

                <ion-card-title>{{ user.displayName }}</ion-card-title>

            </ion-card-header>
            <ion-card-content>
                <p>{{ user.email }}</p>
            </ion-card-content>

        </ion-card>

        <ion-card>
            <ion-item>
                <ion-label>Followed series</ion-label>
            </ion-item>
            <ion-card-content>
                <ion-row>
                    <ion-col size="4" *ngFor="let item of followedSeriedArray">
                        <img src="http://image.tmdb.org/t/p/w185/{{item.poster_path}}">
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-item>
                <ion-label>Followed movies</ion-label>
            </ion-item>
            <ion-card-content>
                <ion-row>
                    <ion-col size="4" *ngFor="let item of followedMoviedArray">
                        <img src="http://image.tmdb.org/t/p/w185/{{item.poster_path}}">
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>
    </div>
    <ng-template #showLogin>
        <ion-card *ngIf="id == null">
            <ion-card-header>
                <ion-card-title>Not logged in yet, go to login!</ion-card-title>
            </ion-card-header>

            <ion-card-content>
                <ion-button (click)="clickedLogin()" color="dark" expand="full">
                    Login</ion-button>
            </ion-card-content>
        </ion-card>
    </ng-template>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-button (click)="logout()" expand="full" color="danger" fill="outline">Logout</ion-button>
    </ion-toolbar>
</ion-footer>